.vs/
ChatbootWhatsapp

*.suo
*.user
*.userosscache

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]obj/

.vs/
*.sln.iml

*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

[Ll]og/
[Ll]ogs/
*.log

appsettings.Development.json
*.secret

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.coverage
*.coveragexml

publish/
*.[Pp]ublish.xml
*.azurePubxml

*.mdf
*.ldf
*.ndf

.env
.env.local

.idea/
.vscode/
*.code-workspace

docker-compose.yml
docker-compose.override.yml
Dockerfile

node_modules/
package-lock.json

bin/
obj/
func.exe